<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718897466853-n4k8aifjmmafe30horoiqjum85p7rmti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718897466853-n4k8aifjmmafe30horoiqjum85p7rmti</string>
	<key>API_KEY</key>
	<string>AIzaSyBjWljs1vJcPOr7lBOy9b1_Ch6JsNL5AQA</string>
	<key>GCM_SENDER_ID</key>
	<string>718897466853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.zheref.Blueprints</string>
	<key>PROJECT_ID</key>
	<string>blueprints-b5389</string>
	<key>STORAGE_BUCKET</key>
	<string>blueprints-b5389.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718897466853:ios:be02ed6bdaa4d3adb5730c</string>
</dict>
</plist>